{% if authorizeUrl %}
    <a href="{{ authorizeUrl }}">Begin Authorize</a>
{% else %}
    <h1>Welcome {{ usersShow.name }} </h1>
    <p><img src="{{ usersShow.avatar_large }}" alt="我的头像"/></p>
    <ul>
    <li>我的名字：{{ usersShow.name }}</li>
    <li>我的ID：{{ usersShow.id }}</li>
    <li>我的粉丝：{{ usersShow.followers_count }}</li>
    <li>我的关注：{{ usersShow.friends_count }}</li>
    </ul>
    抽奖微博识别训练：<br>
    <a href="./training">开始批量训练（未完成）</a> <br>
    <a href="./single">开始单个训练</a> <br>
{% endif %}